@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Space+Mono&display=swap');

body {
  margin: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ED694A;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: #ED694A;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
.header h1{
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loading {
  font-size: 2rem;
  /* background-color: #ED694A; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading h3 {
  /* font-size: 18px; */
  color: #fff;
  text-align: center;
  margin: 40rem auto;
  z-index: 100;
  background-color: transparent !important;
  font-family: 'Space Mono', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-info {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 300px;
  min-height: 200px;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 15px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}